extends layout 

block content 
  h1= category.name

  div
    ul
      each item in category_items 
        li 
          a(href=item.url) #{item.name}

    div.sideBySideButtons
      form(method='GET' action=category.url + '/update')
        input(type='hidden', name='categoryid', required='true', value=category._id)
        button(type='submit') Update 
      form(method='GET' action=category.url + '/delete')
        input(type='hidden', name='categoryid', required='true', value=category._id)
        button(type='submit') Delete