extends layout

block content
  h1= item.name 
  
  div
    a(href=category.url) #{category.name}
    br
    a(href=item.url + '/delete') Delete item

    div.sideBySideButtons
      form(method='GET' action=item.url + '/update')
        input(type='hidden', name='itemid', required='true', value=item._id)
        button(type='submit') Update
      form(method='GET' action=item.url + '/delete')
        input(type='hidden', name='itemid', required='true' value=item._id)
        button(type='submit') Delete