extends layout 

block content
  h1= title

  div
    p Are you sure you want to delete #{item.name} from category #{category.name}?

    div#cancelDelete
      form(method='GET' action='/item')
        input(type='hidden', name='itemid', required='true', value=item._id)
        button(type='submit') Cancel
      form(method='POST' action='')
        input(type='hidden', name='itemid', required='true', value=item._id)
        button(type='submit') Delete