extends layout

block content
  h1.header= item.name 
  div.sideBySideButtons
    form(action=item.url + '/delete')
      input(type='submit', value='Delete')
    form(action=item.url + '/update')
      input(type='submit', value='Update')
  div
    p Description: #{item.description}
    p Category: 
      a(href=category.url) #{category.name}
    p Price: $#{item.price}
    p Number in stock: #{item.number_in_stock}